body{
    background-color: skyblue;
    width: 1000px;
    padding: 0 15%;
    text-align: center;
}
div{
    border: solid black;
    
}
#zeiritu_number{
    width: 40px;
}
body h3{
    text-align: left;
}